{% extends "base.html.twig" %}
{% block body %}
    <div class="form-group " style="margin-left: 550px">

        <h2>Inscription Client</h2>
        <a href="{{ asset('/app_dev.php/register')}}" style="margin-left: 100px" type="button" class="btn btn-round btn-primary "> Client</a>
        <h2>Inscription Vendeur</h2>
        <a href="{{ asset('/app_dev.php/pro/register')}}" style="margin-left: 100px" type="button" class="btn btn-round btn-primary "> Vendeur</a>
    </div>
{% endblock %}